# -- Environment --
.env

# -- Gluetun --
wg0.conf

# -- Traefik --
traefik.yml
middlewares.yml

# -- SearXNG --
settings.yml

# -- Folder --
stacks-unused
cloudflare
docs

# -- Claude --
CLAUDE.md
CONTEXT.md

# -- CrowdSec --
**/crowdsec/notifications/http.yaml
